body{
	height: 100vh;
	background-color: #1F2937;
	color: #F9FAF8;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

.header{
	display: flex;
	justify-content: space-between;
	padding: 16px;
	margin: 10px 50px;
}

.logo{
	font-size: 24px;
	font-weight: bold;
}


ul{
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}
a{
	text-decoration-line: none;
	color: gray;
}

.content{
	display: flex;
	flex-direction: column;
	flex: 1;
}

.content .first{
	display: flex;
	justify-content: center;
	margin: 48px 15%;
	padding: 30px 30px;
}

.first .left{
	display: flex;
	flex: 1;
	flex-direction: column;
	color: #F9FAF8;
	margin-right: 24px;
}

.first .right{
	flex: 1;
	display: flex;
	background-color: gray;
}
.first .title{
	font-size: 48px;
	font-weight: bold;
	padding-bottom: 10px;
}

.first .subtext{
	flex: 1;
	font-size: 18px;
	color: #E5E7EB;
	padding-bottom: 10px;
}

.first .signup-button button{
	border: none;
  border-radius: 8px;
  padding: 8px 20px;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 14px;
	background-color: #3882F6;
}

.first .principal-image{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 40px;
	flex: 1;
}
.content .second{
	background-color: white;
	color: black;
}

.random-information{
	font-weight: bold;
	font-size: 36px;
	text-align: center;
}

.boxes{
	display: flex;
	justify-content: space-around;
	margin-right: 20%;
	margin-left: 20%;
}

.info-box{
	display: flex;
	flex-direction: column;
	margin: 20px 20px;
	max-width: 250px;
	height: 250px;
}

.box{
	display: flex;
	flex: 2;
	justify-content: center;
	align-items: center;
	border: 4px;
	border-radius: 24px;
	border-style: solid;
	border-color: #3882F6;
}

.info-box .subtext{
	display: flex;
	text-align: center;
	margin-top: 5px;
	font-size: 18px;
	color: gray;
}

.content .third{
	background-color: #E5E7EB;
	font-size: 36px;
	color: #1F2937;
	font-style: italic;
	padding: 8% 20%;
}

.popup-ad{
	background-color: white;
	color: black;
}


.author{
	color: black;
	float: right;
	font-weight: bold;
}

.footer{
	text-align: center;
}